# Rao Algorithms
used as optimization algorithm

## function example:
### $$y=x^2$$

In [154]:
import numpy as np
import random

In [155]:
#range
start=-100.0
stop= 100.0
accuracy= 0.1
x= np.arange(start,stop,accuracy)

In [156]:
def f(x):
    return x**2

In [162]:
#initial population
#example: 5 candidates, 2 variables

candidate=5
variable=2
iteration = 50
x=[]
y=[]

for i in range(variable):
    temp_x=[]
    temp_y=[]
    for j in range(candidate):
        temp_x.append(np.round(random.uniform(start,stop),2))
        temp_y.append(np.round(f(temp_x[j]),2))
    x.append(temp_x)
    y.append(temp_y)

x= np.array(x)
x_new = x.copy()
y= np.array(y)
y= y.sum(axis=0)

In [163]:
for i in range(iteration):
    #find index of best and worst result
    best_index = y.argmin()
    worst_index = y.argmax()
    #generate new values
    for i,j in enumerate(x_new):
        for k in range(len(j)):
            r = np.round(random.random(),3)
            x_new[i,k] += r*(x_new[i,best_index] - x_new[i,worst_index])
    y_new= f(x_new)
    y_new= y_new.sum(axis=0)
    #compare f(x) with previous f(x). keep if  f(x) is lower
    iskeep = y_new > y
    for index, elements in enumerate(x):
        for inner_index in range(len(x)):
            if iskeep[inner_index] == False:
                x[index, inner_index]= x_new[index,inner_index]
    y = np.fmin(y,y_new)

    
best_index = y.argmin()
worst_index = y.argmax()
status=[]
for index in range(candidate):
    status.append('-')

status[best_index]= 'Best'
status[worst_index]= 'Worst'

In [164]:
#show final iteration result in table form
import pandas as pd
columns = variable
col_name=[]
for column in range(variable):
    col_name.append(f'x{column+1}')
    
col_name.append('f(x)')
col_name.append('status')

In [165]:
result_df = pd.DataFrame(list(zip(*x,y,status)), columns =col_name)

In [166]:
result_df

          x1         x2        f(x) status
0  -0.807235  -4.760813   23.316964   Best
1   1.914146  11.854579  144.195000      -
2  66.360000 -87.460000  429.114193  Worst
3 -13.670000 -20.740000  268.810304      -
4   6.170000  80.190000  106.762946      -